---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Family from '../components/Family.astro';
import Sports from '../components/Sports.astro';
import Gaming from '../components/Gaming.astro';
import Hobbies from '../components/Hobbies.astro';
import Projects from '../components/Projects.astro';
import Neuroscience from '../components/Neuroscience.astro';
import Career from '../components/Career.astro';
import Memes from '../components/Memes.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Navbar />
  <main>
    <Hero />
    <Family />
    <Sports />
    <Gaming />
    <Hobbies />
    <Projects />
    <Neuroscience />
    <Career />
    <Memes />
  </main>
  <Footer />
</BaseLayout>
